* {
    font-family: sans-serif;
}

body {
    background-color: rgb(43, 54, 117);
}

#nav {
    float: left;
    width: 200px;
    background-color: rgb(139, 194, 239);
    margin-left: 50px;
    height: 425px;
    padding-top: 10px;
}

h2 {
    text-align: center;
}

#content {
    margin-left: 250px;
    background-color: rgb(71, 135, 225);
    text-align: center;
    margin-right: 50px;
    padding: 5px 20px 5px;
    height: 425px;
}

li {
    list-style-type: none;
}
