.odd {
    background-color: pink;
    font-family: Verdana, Dejavu Sans sans-serif;
}
#ID2 {
    color: blue;
    font-size: 36px;
}
.oddly {
    font-size: 24px;
}
#ID4 {
    background-color: green;
    font-size: 24px;
    font-style: bold;
}