* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Fasthand;
    scroll-behavior: smooth;
}

body {
    background-image: url('lincoln-photo.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    z-index: 1;
    background-color: bisque;
    color: brown;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-right: 5px;
    opacity: 0.7;
}

h1 {
    font-size: 52px;
}

ul {
    display: flex;
    padding-top: 10px;
    list-style: none;
    font-size: 22px;
}

ul a {
    padding: 10px 10px;
    border-radius: 10px;
    color: brown;
    text-decoration: none;
}

ul a:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px brown;
}

section {
    padding-top: 100vh;
    font-size: 22px;
}

p a {
    color: brown;
    text-decoration: none;
    border-radius: 2px;
}

p a:hover {
    background-color: bisque;
}

section h3 {
    
    padding-bottom: 100px;
    text-align: center;
    font-size: 30px;
}

.bio {
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 20px 100px 40px;
    line-height: 25px;
    text-align: justify;
}

.milestones {
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 20px 100px 30px;
    margin-top: 120px;
    line-height: 25px;
    text-align: justify;
}

ol {
    list-style: upper-roman;
}

ol li {
    padding: 10px;
}

li a {
    color: brown;
    text-decoration: none;
    border-radius: 2px;
}

li a:hover {
    background-color: bisque;
}

.impact {
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 20px 100px 40px;
    margin-top: 120px;
    line-height: 25px;
    text-align: justify;
}

form {
    width: 100%;
    padding: 100px 20px;
    background-color: white;
    color: black;
    opacity: 0.7;
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
}

form h3 {
    margin-bottom: 65px;
}

form input {
    background-color: black;
    color: white;
    font-size: 15px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    width: 220px;
    transition: .3s;
}

form input::placeholder {
    color: white;
}

#firstname:focus, #lastname:focus, #email:focus {
    width: 300px;
}

#submit:hover {
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 100px;
    background-color: bisque;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    opacity: 0.7;
    font-size: 22px;
}

@media (max-width: 850px) {
    ul {
        flex-direction: column;
    }
}